<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Example Admob Advanced App
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="showBanner()">
                    Show banner
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="hideBanner()">
                    Hide Banner
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="resumeBanner()">
                    Resume banner
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="removeBanner()">
                    Remove banner
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="loadInterstitial()">
                    Load Interstitial
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="showInterstitial()" [disabled]="!adsService.interstitialLoaded">
                    Show Interstitial
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="loadRewarded()">
                    Load Rewarded Video
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="showRewarded()" [disabled]="!adsService.rewardedLoaded">
                    Show Rewarded Video
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="showGoogleConsentForm()">
                    User Consent: {{adsService.personalizedAds}}
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="setConsentStatus()">
                    Toggle Consent Status: {{adsService.personalizedAds}}
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="listAdProviders()">
                    List Ad Providers (check console log)
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>